venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
db.sqlite3
.git/

# data files
unpreparing_stady_data.csv
prep_activities.csv
activity_subtypes.csv
activity_types.csv
activities.csv
users.csv
users.csv


# databases
*.db

# secrets
.env
credentials_scheduler.json